/* src/pages/LoadingPage.css */

.loading-container {
  height: 100vh;
  background: linear-gradient(to bottom right, #f15637, #e76c4b);
  color: white;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.lottie-wrapper {
  width: 250px;
  height: 250px;
}

.animated-text {
  font-size: 1.5rem;
  font-weight: 500;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
